[submodule "Report"]
	path = Report
	url = git@github.com:MadsRudolph/PWA.git
[submodule "Report-PWB"]
	path = Report-PWB
	url = git@github.com:MadsRudolph/PWB.git
[submodule "Report-PWF"]
	path = Report-PWF
	url = git@github.com:MadsRudolph/PWF.git
